# Игнорируем базы данных SQLite
*.db
*.sqlite3

# Игнорируем любые автоматически сгенерированные графики и картинки
*.png
*.jpg
*.jpeg

# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем виртуальные окружения и папки IDE
.venv/
venv/
.idea/
.vscode/
